/* Contêiner do ônibus */
#bus-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

/* Layout vertical */
#bus-container.vertical {
    background-image: url('../images/img-onibus.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-width: 600px;
    height: auto;
    padding-top: 130px;
    padding-bottom: 30px;
}

/* Layout horizontal */
#bus-container.horizontal {
    background-image: url('../images/img-onibus2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-width: 1000px;
    height: 300px;
    padding-right: 110px;
}

/* Layout horizontal */
#seat-map.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.row-container.horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

/* Mapa de assentos */
#seat-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: auto;
}

/* Layout vertical */
.row-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    justify-content: center;
    gap: 3px;
}

/* Poltronas */
.seat {
    background-color: #90ee90;
    border-radius: 6px;
    text-align: center;
    line-height: 30px;
    width: 35px;
    height: 35px;
    font-size: 10px;
    font-weight: bold;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s;
}

.seat:hover {
    transform: scale(1.1);
}

/* Poltronas ocupadas */
.seat.occupied {
    background-color: #f08080;
    cursor: not-allowed;
}

/* Espaço vazio */
.aisle {
    width: 35px;
    height: 35px;
}
