
    RewriteEngine on
 
    RewriteCond %{HTTPS} !on
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
 
    #redirect if exist index.php
    RewriteCond    %{THE_REQUEST} ^.*/index.php
    RewriteRule    ^(.*)$ / [R=301,L]
